<article>
    <img
        class="listing-photo"
        [src]="casaLocalizacao?.photo"
        alt="Exterior photo of {{ casaLocalizacao?.name }}"
        crossorigin
    />
    <section class="listing-description">
        <h2 class="listing-heading">{{ casaLocalizacao?.name }}</h2>
        <p class="listing-location">{{ casaLocalizacao?.city }}, {{
            casaLocalizacao?.state }}</p>
    </section>

    <section class="listing-features">
        <h2 class="section-heading">Sobre a localização dessa casa</h2>
        
        <ul>
            <li>Unidades disponiveis: {{ casaLocalizacao?.availableUnits }}</li>
            <li>Esta localização possui wifi: {{ casaLocalizacao?.wifi }}</li>
            <li>Possui lavanderia: {{ casaLocalizacao?.laundry }}</li>
        </ul>
    </section>

    <section class="listing-apply">
        <h2 class="section-heading">Inscreva-se agora para moraraqui</h2>
        <form [formGroup]="applyForm" (submit)="submitApplication()">
            <label for="first-name">First Name</label>
            <input id="first-name" type="text" formControlName="firstName"/>
            <label for="last-name">Last Name</label>
            <input id="last-name" type="text" formControlName="lastName"/>
            <label for="email">Email</label>
            <input id="email" type="email" formControlName="email" />
            <button type="submit" class="primary">Inscreva-se</button>
        </form>
    </section>
    
</article>